In [1]:
from automatic_athena_download import *
import pandas as pd
from download_s3 import *

In [3]:
df=pd.DataFrame()
query="SELECT * FROM processed_customers LIMIT 10;"
df=traer_df(query)

In [ ]:
df

In [35]:
url='https://drive.google.com/file/d/1na_XDqxWBIg8qqY6SktcCflaDrBxgA8L/view?usp=sharing'
path='https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df=pd.read_csv(path)

In [36]:
df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,Sao Paulo,SP
1,1046,-23.546081,-46.644820,Sao Paulo,SP
2,1046,-23.546129,-46.642951,Sao Paulo,SP
3,1041,-23.544392,-46.639499,Sao Paulo,SP
4,1035,-23.541578,-46.641607,Sao Paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,Tapejara,RS
1000159,99900,-27.877125,-52.224882,Getulio Vargas,RS
1000160,99950,-28.071855,-52.014716,Tapejara,RS
1000161,99980,-28.388932,-51.846871,David Canabarro,RS
1000162,99950,-28.070104,-52.018658,Tapejara,RS